body {
    margin: 0;

    font-family: Arial;
    font-size: 12px;
    color: #808080;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #202020;
}

/* ========== HEADER ======= */
.header {
    padding: 32px 0;
    /* отступ для всех элем класса*/
}

.header_inner {
    display:  flex;
    justify-content: space-between;
    /* пустое место между флексами */
}